html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    flex-grow: 1;
}

#main-box {
    display: flex;
    flex-direction: row;
    flex-grow: 10;
}

#sidebar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#sidebar-title {
    flex-grow: 1;
}

#input-box {
    flex-grow: 1;
}

#search-button-box {
    flex-grow: 1;
}

#saved-input {
    display: flex;
    flex-direction:column;
    flex-grow: 8;
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

#city-day-forecast {
    margin-left: 10%;
    flex-grow: 1;
}

#city-day-forecast-title {
    flex-grow: 1;
}

#five-day-forecast {
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}

.date0, .date1, .date2, .date3, .date4, .date5 {
    background-color: rgb(15, 163, 171);
}
