html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#header {
    background-color: blueviolet;
    color: whitesmoke;
    text-align: center;
    flex-grow: 1;
}

#main-box {
    display: flex;
    flex-direction: row;
    flex-grow: 10;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: yellowgreen;
    flex-grow: 1;
}

#sidebar-title {
    background-color: blue;
    flex-grow: 1;
}

#search-box {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    flex-grow: 1;
}

#input-box {
    flex-grow: 1;
}

#search-button-box {
    flex-grow: 1;
}

#saved-input {
    background-color: green;
    display: flex;
    flex-direction:column;
    flex-grow: 8;
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    height: 100%;
}

#city-day-forecast {
    background-color: red;
    flex-grow: 1;
}

#five-day-forecast {
    background-color: goldenrod;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

}#plus-one {
    background-color: brown;
    
}

#plus-two {
    background-color: fuchsia;
}

#plus-three {
    background-color: rgb(27, 170, 202);
}

#plus-four {
    background-color: rgb(155, 113, 15);
}

#plus-five {
    background-color: rgb(185, 19, 8);
}